// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

li.list-group-item {
  font-size: 1.25em;
  font-weight: bold;
}

span.badge {
  font-size: 1.25em;
  min-width: 3em;
  background: #2b2b2b;
}

.badge a {
  color: #FFFFFF;
  text-decoration: none;
}